*{ margin: 0;
padding: 0;
box-sizing: border-box;
color: rgba(221, 221, 243, 0.171)
}

body{
    
background-repeat: no-repeat;


background-color: rgba(10, 10, 1, 0.877);
}
.bac{ 
width: 100%;
height: 93px;
  border-radius: 18px;
color: aliceblue;
font-size: 88px;
margin-top: 23px
}


/*
.img img{
 /*   background: no-repeat;
    
    background-position: center;



opacity: 0.3;
height: 600px;

background-repeat: repeat-y;
}
  */
 


/*
ul {text-align: right;
    display: flex;  
    display: inline;  
     
    font-size: 38px;
    
    font-family: 'Courier New';
   
    margin-left:43%;
    
    max-width: max-content;
}
*/
/*li{
    font-size: 25px;
    font-family:  Verdana, sans-serif;
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    color: rgba(19, 22, 224, 0.61);
    margin-bottom: 7%;
    width: 12%;
}
*/
  .container{ 
    display: flex;
    margin-top: 185px;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
    }
 


.group-services {
        width: 250px;
    
       
    }
    .group-services:hover{
      font-size: 19px;
  font-weight: 600;
  background-color: rgb(99, 94, 26);
  color: white;
  padding: 10px 20px;
  border-radius: 28px;
  border: none;
  cursor: pointer;
    }
    .group-services img {
        width: 100%;
        border-style: solid;
        border-color: rgba(223, 201, 6, 0.904)rgba(247, 223, 7, 0.911) ;
        border-width: 20px 13px 13px;
    }
    .group-services h1 {
        
        color:white;
    }
    .group-services  p{
        color: white;

    }
     .vazio{
        background-color: rgba(255, 6, 6, 0.151);
      width: 1600px;
      height: 360px;
        border-radius: 8px;

     }
      .servi{
        display: flex;
        display: inline-block;
        font-size:0.2rem;
        flex-wrap: wrap;
        padding: 30px;
           color: aliceblue;

      }
      .servi h4{color: rgb(204, 212, 219);
      font-size: 0.7rem;}
      .servi h1{
        font-size: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: aliceblue;
      }

      .tel{ margin-left: 616px;
               margin-top: -9%;
               font-size: 1.2rem;
               color:rgb(216, 223, 230);
      } .tel a{
        color: aliceblue;
      }
      .map-responsive h4{
        color: aliceblue; 
      }

      .map-responsive iframe{
        width: 600px;
        height: auto;
      padding: 45px;
      color: aliceblue;
    }